body,h1,h2,h3,h4,h5,h6,form,input,ul,ol,li,h2,p,b,a,dl,dd,span,tr,td,table,strong,textarea,iframe{
  margin:0;
  padding:0;
  list-style:none;
  border: 0;
  outline: 0;
}
a{text-decoration:none;}
img{border:none;}